#point{
    display: inline-block;
}

#game{
    display: inline-block;
}

#song{
    display: inline-block;
}

#text_box_1{
    margin-left: 10%;
    width: 35%;
    height: 50%;
    border: 1px solid #707070;
    display: inline-block;
    border-radius: 5%;
    float: left;
    background-color: #707070;
}

#text_box_2{
    margin-left: 10%;
    display: inline-block;
    width: 35%;
    height: 50%;
    border: 1px solid #707070;
    border-radius: 5%;
    float: left;

    background-color: #707070;
}

h3{
    text-align: center;
}

h4{
    color: white;
    text-align: center;
}

p{
    color: white;
    font-size: 20px;
}

footer{
    margin-top: 3%;
    background-color: #191919;
    height: 9%;
}

body{
    background-color: #303030;
}